<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.KeycloakPlugin</class>
    <name>Keycloak</name>
    <description>Keycloak based authentication.</description>
    <author>Guus der Kinderen</author>
    <version>1.0.0</version>
    <date>03/15/2016</date>
    <minServerVersion>4.1.0 Alpha</minServerVersion>
</plugin>